.modal-image{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-right: 1rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba($main-color, .95);
  visibility: hidden;
  display: none;

  &.is-show{
    display: flex;
    visibility: visible;
  }

  &__container{
    width: 85%;
    height: 45vw;
    max-width: 1728px;
    max-height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px -7px #000;
  }
  
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &__btn{
    position: absolute;
    top: -2rem;
    right: 0;
    font-size: 2rem;
  }
}