.nav-bar-container {
  width: 100%;
  max-width: 100vw;
  height: $nav-height;
  z-index: 20;
  top: 0;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  background-color: $bg-color-two;
  box-shadow: 0 4px 8px -6px #050508;
}

nav.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  z-index: 200;
  position: relative;
  overflow: hidden;

  @include mq(md){
    padding: 0 .75rem;
  }
}

.logo-title {
  height: 100%;
  display: flex;
  align-items: center;

  .fiction {
    font-family: $font-main-b;
    font-weight: bold;
    font-size: 2.25rem;
    color: $primary-color;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  
  @include mq(sm){
    .fiction{
      margin-right: .75rem;
      font-size: 1.75rem;
    }
  }
}

.main-menu {
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 1 1  100%;

  &__link {
    transition: all .3s ease;
    margin-left: 2rem;
    background-color: darken($primary-color, 5);
    box-shadow: shadow(2px, $primary-color);
    transform: translate3d(0, 0, 0);
    
    &:hover {
      transform: translate3d(0, 2px, 0);
      box-shadow: shadow(2px, transparent);
    }

    @include mq(md){
      margin-left: .75rem;
    }
  }
}