
.not-found--container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;  
  height: 100%;
  text-transform: uppercase;
  // mix-blend-mode: multiply;
  // background-blend-mode: lighten;

  background:
  radial-gradient(
   circle at 25% 75% , #d46ae4, #bd5dcc, #b36379, #cf5e56, transparent 45%
  ),

  radial-gradient(
    circle at 75% 25% , #fbe152, #fb7737, #e06532, #d58047, transparent  50%
  ),

  linear-gradient(to left, #d58047, #cf5e56)  ;
  background-repeat: no-repeat;
}



.not-found{
  font-family: $font-main-b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5%;
  min-height: 50vh;
  position: relative;

  &__code{
    display: block;
    font-size: 18rem;
    color: rgba(#000, .5);
    line-height: 1;
    padding: 0;
    // filter: ;

    //  background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-text-fill-color: rgba(#000, .25);
    // -webkit-text-stroke: 1px rgba(#000, .75);

    // &::before{
      // content: '';
    // }
  }

  &__text{
    $color: rgba(#fff, .5);
    position: absolute;
    left: 105%;
    display: block;
    font-size: 2rem;
    border-left: 5px solid $color;
    width: auto;
    padding: 1rem;
    color: $color;
  }

  &__btn{
    margin-left: -5%;
    display: block;
    padding: 1rem 6rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(#000, .25);
    box-shadow: shadow-blur(4px, #000);
  }
}