@font-face {
  font-family: 'Raleway';
  src: url($fonts-path + "/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($fonts-path + "/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($fonts-path + "/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
