/* *************** Custom Properties *************** */
// globals
$max-width: 1800px;
$font-size: 16px;
$font-main: Raleway;
$font-second: Roboto;
$transition-global: 0.3s ease 0s;

// Theme
$font-color: #fff;
$bg-color: #061830;
$bg-color-two: #0d2032;
$main-color: #080f28;
$primary-color: #1bb4dc;
$fonts-path: "../assets/fonts";
$movie-card-height: (308px);
$movie-card-width: 206px;

// $icon-w: 20px;
// $icon-h: 20px;

$breakpoints: (
    xs: 30em,   /* 480px  .-> 16px */
    sm: 37.5em, /* 600px  .-> 16px */
    md: 45em,   /* 720px  .-> 16px */
    lg: 64em,      /* 1024px .-> 16px*/
    xl: 75em,      /* 1200px .-> 16px*/
    xxl: 112em
)

