// *************** Custom Properties *************** 
// globals
$max-width: 1800px;
$font-size: 16px;
$font-main: 'Roboto';
$font-main-b: 'Roboto Bold';
$font-second: 'Roboto Light';
$transition-global: 0.3s ease 0s;
$nav-height: 70px;

// Theme
$font-color: #fff;

// black mode
$bg-color: #14161d;
$bg-color-two: #1c2026;
$main-color: #14161d;

$primary-color: #17b7da;
$fonts-path: "../assets/fonts";

:root{
  --movie-card-width: 230px;
  --movie-card-height: 345px;
}

$breakpoints: (
    xs: 30em,   /* 480px  .-> 16px */
    sm: 37.5em, /* 600px  .-> 16px */
    md: 45em,   /* 720px  .-> 16px */
    lg: 64em,      /* 1024px .-> 16px*/
    xl: 75em,      /* 1200px .-> 16px*/
    xxl: 112em
)

