html{
	scroll-behavior: smooth;
}

title{
	text-transform: capitalize;
}

body{
	background: $bg-color;
	min-height: 100vh;

	@include mq_next(xxl){
		font-size: 17px;
	}

	@include mq(md){
		font-size: 15px;
	}
}

#app{
	min-height: 80vh;
	padding-top: 65px;
}

a{
	color: #fff;
	&:hover{
		color: #fff;
	}

	&:visited{
		color: #fff;
	}
}

img{
	user-select: none;
	-webkit-user-select: none;
}

.without-transition{
	transition: all 0s linear 0s;
}

.hidden{
	visibility: hidden;
	opacity: 0;
}

.hidden-d{
	display: none;
}

.container{
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}


